body {
    background-color: #9e9eec;
    color: #fff;
    font-family: sans-serif;
}

.wrapper {
    padding: 60px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.grid {
    margin-bottom: 300px;
    padding-bottom: 300px;
    border-bottom: 10px solid #0e0d0d;
    min-height: 100vh;
}

.item {
    border: 10px solid #110f0f;
    font-size: 40px;
    padding: .8em;
    text-align: center;
}

/* ======================================================== */

.grid-1 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 400px 400px;
}
